*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  background-image:url('plant.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  font-size: 20px;
}
#content-wrapper{
  display:flex;
  flex-direction:column;
  padding:2rem;
  margin:3rem;
  border:15px solid black;
  background:white;
}

.header{
  display:flex;
  justify-content:center;
  font-size:80px;
  font-family: 'Martel', serif;
  text-shadow: 1px 3px 2px grey;
}

#main-content-wrapper{
  display:flex;
  text-align:justify;
}

hr {
	width: 40%;
	margin: 1.5%;
	float: left;
	color: #999999;
}


.grid {
	float: left;
}

.photo {
	width: 30%;
	margin: 1.5%;
}

p{
  text-align: center;
}
